a {
  color: #3B97D3;
}

h1, h2, h3, h4, h5, h6 {
  color: #035597;
}
.main-content .anchor-heading svg {
    color: #ed1c24;
}
.main-header {
    display: none !important;
}
.icon {
    color: #ed1c24 !important;
}
h2 {
  border-bottom: 0.05em solid #e5f4f5 !important;
}
