a {
  color: #3B97D3;
}

h1, h2, h3, h4, h5, h6 {
  color: #035597;
}
.main-content .anchor-heading svg {
    color: #ed1c24;
}

$sidebar-color: $blue-200;
$border-color: $blue-200;
$feedback-color: darken($sidebar-color, 50%);
